.brand {
  font-size: 7rem;
}

/* hero */
.hero {
  background: linear-gradient(278.17deg, rgba(44, 62, 80, 0) 0%, #15191d 97.36%),
    url(../../assets/Hero.png);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;

  padding: 5rem;
  color: white;
}

.hero .heading {
  font-size: 5rem;
}

.hero .brand,
.hero .heading {
  margin: 0;
  line-height: 4.5rem;
}

.hero .row {
  margin-left: 3rem;
  margin-right: 3rem;
}

.hero .desc {
  font-weight: 500;
}

/* content */
.about .content--card div.preview {
  background-image: url("../../assets/verticalbanner.jpeg");
  background-position: center;
  background-size: 80%;

  height: 100%;
  width: 100%;
}

/* price container */
.about .price--container {
  background: linear-gradient(278.17deg, rgba(44, 62, 80, 0) 0%, #15191d 97.36%),
    url(../../assets/Hero.png);
  color: white;
}


