.forum__container {
  width: 100%;
}

.forum--breadcrumbs {
  width: 100%;
  background-color: white;
  padding: 0.25rem;

  color: #000;
}

.forum--breadcrumbs .breadcrumb{
  margin: 0;
}

.forum--breadcrumbs .breadcrumb a{
  color: #808080;
  text-decoration: none;
}
.forum--breadcrumbs .breadcrumb a:hover{
  color: var(--bs-primary);
  text-decoration: none;
}

.forum--breadcrumbs .breadcrumb .breadcrumb-item{
  color:  var(--bs-primary);
}


.forum--banner {
  background: linear-gradient(
    90deg,
    var(--bs-primary) 0%,
    rgba(3, 15, 27, 1) 100%
  );
  width: 100%;
  height: 347px;
  color: white;
}

.banner--logo {
  background-image: url("./logo.png");
  width: auto;
  height: 193px;
  border: red;
  background-repeat: no-repeat;
}

.forum__sidebar {
  background-color: var(--bs-primary);
  height: 100%;
}

.forum__content {
  width: 100%;
  height: 1000px;
}

.forum__sidebar .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-primary);
  background-color: var(--bs-secondary);
}

.forum__jobs {
  height: 100%;
}
.job-cards {
  height: 700px;
}
.box-shadow {
  box-shadow: 14px -7px 23px -8px #545454;
}

.comment-cards {
  height: 500px;
}
