.forum__container {
  width: 100%;
}

.forum--breadcrumbs {
  width: 100%;
  background-color: white;
  padding: 0.25rem;

  color: #000;
}

.forum--breadcrumbs .breadcrumb {
  margin: 0;
}

.forum--breadcrumbs .breadcrumb a {
  color: #808080;
  text-decoration: none;
}
.forum--breadcrumbs .breadcrumb a:hover {
  color: var(--bs-primary);
  text-decoration: none;
}

.forum--breadcrumbs .breadcrumb .breadcrumb-item {
  color: var(--bs-primary);
}

.forum--banner {
  background: linear-gradient(
    90deg,
    var(--bs-primary) 0%,
    rgba(3, 15, 27, 1) 100%
  );
  width: 100%;
  color: white;
}

.forum--banner .col{
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner--logo {
  background-image: url("./logo.png");
  width: auto;
  height: 193px;
  border: red;
  background-repeat: no-repeat;
}

.forum__sidebar {
  background-color: var(--bs-primary);
  height: 100%;
}

.forum__content {
  width: 100%;
}

.forum__sidebar .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-primary);
  background-color: var(--bs-secondary);
}

div.mainforum--container{
  padding: 3rem;
}

.mainforum--container .heading{
  font-size: 5rem;
}

.forum__sidebar{
  border-right: 2px solid #3A70A6;
  /* min-height: 1000px;

  height: 100%; */
  min-height: 1000px;
  height: unset;
}

.forum__sidebar .nav-link{
  font-size: 1.10rem;
  font-weight: 500;
  color: #fff;
}

.forum__sidebar .nav-pills .nav-item{
  line-height: 3rem;
}

.forum__sidebar .nav-pills .nav-item.is-active .nav-link{
  background-color: #fff;
  border-radius: 0;
  border-right: 5px solid #3A70A6;
  color: var(--bs-primary);
}

.forum__sidebar .nav-pills .nav-item:hover .nav-link{
  color: var(--bs-secondary);
}

.forum__content { display: -ms-flex; display: -webkit-flex; display: flex; }
.forum__content>.forum__sidebar { flex:1; }

/* jobs */
.forum__jobs {
  height: 100%;
}

.box-shadow {
  box-shadow: 3px 2px 8px rgba(218, 218, 218, 0.5);
}

.comment-cards {
  height: 500px;
  border-radius: 10px;
}

.sorting--container .btn{
  margin-right: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.category--container h1.heading{
  font-size: 5rem;
}

.job-cards .card{
  border-radius: 0;
  border: none;

  background-color: #F9F9F9;
}

.job-cards .card, .card-header, .card-body, .card-footer{
  border: none !important;
  background-color: #F9F9F9 !important;
}

.job-cards .card .card-title{
  font-size: 1.5rem;
}

/* jobpost */
.jobpost--container .icon{
  margin-top: 5px;
}