/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;500;700&display=swap');
@font-face {
    font-family: 'Parkson';
    src: url('./assets/ParksonDemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'ParksonOutline';
    src: url('./assets/ParksonSemiBoldItalicOutline.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* styled texts */
.hero__heading{
    font-family: ParksonOutline;
    font-size: 10rem;

    color: #fff;
}
.desc{
    font-family: Roboto;
    font-size: 1.2rem;
}

.heading{
    font-family: Parkson;
    font-size: 8rem;
}

.card{
    background: transparent;
}

footer{
    background: #2C3E50;
    height: 80px;
}